html {
    scroll-behavior: smooth !important;

}

.navbarnew {
    position: sticky;
    bottom: 0;
    overflow: hidden;
    background-color: #333;

    position: fixed;
    width: 100%;
    
  }

body {
    font-family: 'Philosopher', sans-serif !important;
    color: #111111 !important;
    /*  Fuggles 'Josefin Sans', sans-serif   Josefin Sans Gabriola*/
    padding: 0 !important;
    -ms-overflow-style: none !important;
    scrollbar-width: none !important;
    background-color: #ffbe85;

    /* Couleur1  ffbe85 */
}

.acceuil {

    background: url('../assets/images/Italie.jpg');
    max-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
    width: 99%;
    height: 99%;
    box-shadow: inset 0 0 20px 20px #ffbe85;
    color: #111111 !important;
}


body::-webkit-scrollbar {
    display: none !important;
}

.font-esthetic {
    font-family: 'Parisienne', cursive !important;
    /*avant Vivaldi */
    color: #111111 !important;
}



.img-crop {
    width: 14rem;
    height: 14rem;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.img-crop>img {
    display: inline;
    margin: 0 auto;
    height: auto;
    width: 100%;
}





.btn-music {
    position: fixed;
    bottom: 9vh !important;
    right: 2vh !important;
    z-index: 1055 !important;
}

.loading-page {
    position: fixed;
    inset: 0 !important;
    width: 100%;
    height: 100%;

    background-color: #ffbe85;
    /*  couleur2*/
    z-index: 1057 !important;
}

.welcome-page {


    background: #ffbe85;
    background: url("../assets/images/SmallBackground.jpg");
    background: -webkit-image-set(url("../assets/images/SmallBackground.jpg") 1x,
            url("../assets/images/BigBackground.jpg") 2x);
    background: image-set(url("../assets/images/SmallBackground.jpg") 1x,
            url("../assets/images/BigBackground.jpg") 2x);
    background: image-set(url("../assets/images/SmallBackground.jpg") 750w,
            url("../assets/images/BigBackground.jpg") 20480w);

    position: fixed;
    inset: 0 !important;
    background-repeat: no-repeat;
    width: 100vw;
    max-width: 100vw !important;
    max-height: 100vh;

    background-size: cover !important;
    background-position: center !important;
    z-index: 1056 !important;
}



.card-body {
    overflow-wrap: break-word !important;
}

.mouse-animation {
    padding: 0.25rem 0.625rem;
    height: 2rem;
    border: 0.1rem solid #ffffff;
    border-radius: 1.4rem;
    opacity: 0.75;
    box-sizing: content-box;
}

@keyframes scroll {
    0% {
        opacity: 0;
    }

    10% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(1rem);
        opacity: 0;
    }
}

.mouse-animation>.scroll-animation {
    width: 0.25rem;
    height: 0.625rem;
    border-radius: 25%;
    background-color: #ffffff;
    animation-name: scroll;
    animation-duration: 2.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes spin-icon {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.spin-button {
    animation: spin-icon 5s linear infinite;
}

@keyframes love {
    50% {
        transform: translateY(1rem);
    }
}

.animate-love {
    animation: love 5s ease-in-out infinite;
}

.clear-section {
   
    margin-top: -0rem;
    margin-bottom: -0rem;
    color: #111111 !important;
}
.dark-section {
    background-color: #FFEBDA !important;
    /*  couleur2*/
    margin-top: -0rem;
    margin-bottom: -0rem;
    color: #111111 !important;
}

footer {
    background-color: #FFEBDA !important;
    /*  couleur2*/
    margin-top: -0.5rem;
    padding-bottom: 5rem;
}